<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head">
</head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="mypage-wrap">
        <h2><i class="fas fa-user-cog"></i> 마이페이지</h2>
        <div class="mypage-con">
           <!-- <%@ include file="/WEB-INF/views/mypage/mypage_tab.jsp" %>-->
            <table class="mypage-notice-form">
                <tr>
                    <th>상태</th>
                    <th style="width:60%">알림내용</th>
                    <th>날짜</th>
                </tr>
                <tr>
                    <td>안읽음</td>
                    <td style="text-align:center;">
                        <a href="">${alarm.content}</a>
                    </td>
                    <td>${alarm.ntDate}<br>${times[status.index]} </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<footer th:replace = " fragments/footer :: footer"></footer>
</body>
</html>