<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head">
</head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="mypage-wrap">
        <h2><i class="fas fa-user-cog"></i> 마이페이지</h2>
        <div class="mypage-con">
            <!--<%@ include file="/WEB-INF/views/mypage/mypage_tab.jsp" %>-->
            <form th:action="|/mypage/profile-modify?${_csrf.parameterName}=${_csrf.token}|" th:object="${modifyForm}" method="post" id ="frm_modify">
                <table class="mypage-form">
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input type="hidden" name="userId" id="userId" th:value="${#authentication.principal.userId}">
                            [[${#authentication.principal.userId}]]
                        </td>
                    </tr>
                    <tr>
                        <th>현재비밀번호</th>
                        <td>
                            <input type="password" name="memberPass" id="memberPass" />
                            <button type="button" name="btnPwCheck" id="btnPwCheck">확인</button>
                            <p id="passwordCheck" class="valid-msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>새비밀번호</th>
                        <td>
                            <input type="password" name="newMemberPass" id="newMemberPass" placeholder="띄어쓰기 없는 6~15자 영문 대/소문자 포함" />
                            <p th:if="${#fields.hasErrors('newMemberPass')}" th:errors="*{newMemberPass}" class="valid-msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호확인</th>
                        <td>
                            <input type="password" name="checkMemberPss" id="checkMemberPss" />
                            <p th:if="${#fields.hasErrors('checkMemberPss')}" th:errors="*{checkMemberPss}" class="valid-msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            [[${#authentication.principal.userName}]]
                        </td>
                    </tr>
                    <tr>
                        <th>닉네임</th>
                        <td>
                            <input type="text" name="nickName" id="nickName" size="6" placeholder="2~6자의 한글,영문" th:value="${#authentication.principal.userNick}?${#authentication.principal.userNick}:''" required />
                            <button type="button" id="btnNickCheck">중복확인</button>
                            <span th:unless="${#fields.hasErrors('nickName')}" id="nickNameCheck" class="valid-msg"></span>
                            <span th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="valid-msg"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td>
                            <input type="tel"  id="tell" name="tell" th:value="${#authentication.principal.tell}" placeholder="숫자만 입력" required />
                            <p th:if="${#fields.hasErrors('tell')}" th:errors="*{tell}" class="valid-msg"></p>

                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            [[${#authentication.principal.email}]]
                        </td>
                    </tr>
                    <tr>
                        <th>실력</th>
                        <td>
                            <label><input type="radio" name="capacity" id="capacity1" value="상 " th:checked="${#authentication.principal.capacity == '상 '}"> 상</label>
                            <label><input type="radio" name="capacity" id="capacity2" value="중 "  th:checked="${#authentication.principal.capacity == '중 '}"/> 중</label>
                            <label><input type="radio" name="capacity" id="capacity3" value="하 " th:checked="${#authentication.principal.capacity == '하 '}"/> 하</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="btn-join">
                                <input type="submit" value="변경하기" />
                                <a class="leave_member" href="/mypage/leave-id">회원탈퇴</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</section>

<footer th:replace = " fragments/footer :: footer"></footer>
<script type="text/javascript" src="../js/member/modifyForm.js"></script>

</body>
</html>