<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head">
</head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="mypage-wrap">
        <h2><i class="fas fa-book-reader"></i>공지사항</h2>
        <div class="mypage-con">
           <!-- <%@ include file="/WEB-INF/views/mypage/mypage_tab.jsp" %>-->
            <table class="mypage-notice-form">
                <tr>
                    <th style="width:50%">제목</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                <tr th:each="notice : ${noticeList}">
                    <td style="text-align:left;">
                        <a th:href = "|/notice/notice-detail(ntIdx=${notice.ntIdx})|">[[${notice.ntTitle}]]</a>
                    </td>
                    <td>[[${notice.regDate}]]</td>
                    <td>[[${notice.views}]]</td>
                </tr>
            </table>
           <div th:replace="fragments/paging :: paging"></div>
        </div>
    </div>
</section>
<footer th:replace = " fragments/footer :: footer"></footer>
</body>
</html>