<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul class="team-tab-wrap" th:fragment = "team-tab">
        <li><a class="selected" href="/team/modify">팀 정보</a></li>
        <li><a href="/team/manage">팀원 관리</a></li>
        <li><a href="/team/score">팀 전적</a></li>
        <li><a href="/team/board-team">글 관리</a></li>
        <li><a href="/team/leave">팀 해체</a></li>

        <!--<li><a class="selected" href="${request.contextPath}/team/managing/modify">팀 정보</a></li>
        <li><a href="${request.contextPath}/team/managing/manage">팀원 보기</a></li>
        <li><a href="${request.contextPath}/team/managing/total-score">팀 전적</a></li>
        <li><a href="${request.contextPath}/team/managing/team-board">작성 게시글</a></li>
        <li><a href="${request.contextPath}/team/managing/delete-team">팀 탈퇴</a></li>-->
</ul>
</html>