<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">

<meta charset="UTF-8">
<title>풋살ON 풋살매칭 웹사이트</title>
<link rel="stylesheet" type="text/css" href="/css/common/all.css" />
<link rel="stylesheet" type="text/css" href="/css/common/common.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/img/common/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/common/favicon.ico" type="image/x-icon">
<script type="text/javascript" src="/js/webUtil.js"></script>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
</head>

</html>