<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="popup-teaminfo-wrap" th:fragment = "popup">
    <div class="popup-close"><i class="fas fa-times"></i></div>
    <div class="popup-teaminfo">
        <div class="popup-team-img"></div>
        <div class="popup-title">
            <h2></h2>
        </div>
        <div class="popup-team-info">
            <p class="popup-tm-grade"></p>
            <p class="popup-tm-lc"></p>
            <p class="intro popup-tm-info"></p>
        </div>
    </div>
</div>
</html>