<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/team/team.css" />
    <link rel="stylesheet" type="text/css" href="/css/team/team-form.css" />
    <link rel="stylesheet" type="text/css" href="/css/matching/matching.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="section">
        <div class="myteam-wrap">
            <h2><i class="far fa-futbol"></i> 나의 팀</h2>
            <div class="myteam-con">
                <div th:replace = " team/include/tab :: team-tab"></div>
                <ul class="board-cate">
                    <li id="tmBrdBtn" th:onclick="|location.href='/team/board-team'|">내가 작성한 팀 매치</li>
                    <li id="mcBrdBtn" th:onclick="|location.href='/team/board-mercenary'|">내가 작성한 용병 매치</li>
                    <li id="appliBtn" class="selected" th:onclick="|location.href='/team/board-team-away'|">내가 신청한 팀 매치</li>
                </ul>
                <div id="tmBrds">
                    <div th:if="${teamBoard == null}" style="padding:40px;text-align:center;">작성하신 글이 없습니다.</div>
                    <th:block th:if="${teamBoard != null}" th:each="teamBoard : ${teamBoard}">
                        <div class="match-box use-myteam">
                            <div class="tit-area">
                                <div class="tit-info">
                                    <div th:class="'state '+${teamBoard.state == 0 ? 'recruiting' : 'end'}">[[${teamBoard.state == 0 ? '모집중' : '모집완료'}]]</div>
                                    <div class="tit">
                                        <strong>&#91;[[${teamBoard.location.localCity}]] &#47; [[${teamBoard.matchStyle}]]&#93; [[${teamBoard.placeName}]]</strong>
                                        전적 [[${teamBoard.team.matchCnt}]]전 [[${teamBoard.team.win}]]승 [[${teamBoard.team.lose}]]패&nbsp;&nbsp;
                                        별점
                                        <th:block th:each="num: ${#numbers.sequence(1,teamBoard.team.teamRating)}">
                                            <i class="fas fa-star full-star" style="display:inline-block;margin-right:-4px;color:#aaa;"></i>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="profile_n_appli">
                                    <div class="profile">
                                        <div th:if="${teamBoard.team.file != null}" class="profile-img" style="background:url('/img/team/${tmBoards.filePath}') center center; background-size:cover;"></div>
                                        <div th:if="${teamBoard.team.file == null}" class="profile-img" style="background:url('/img/team/no-img.jpg') center center; background-size:cover;"></div>
                                        <div class="profile-name" onclick="teamInfo('${tmBoards.tmCode}')">[[${teamBoard.team.tmName}]]<span><i class="fas fa-search"></i>정보보기</span></div>
                                    </div>
                                    <th:block th:if="${#authentication.principal.grade.toString().equals('ME03')}">
                                        <th:block th:if="${teamBoard.state == 0}">
                                            <div class="btn-appli" th:onclick="|javascript:teamMatchModify(${teamBoard.mmIdx})|">수정하기</div>
                                            <div class="btn-appli" th:onclick="|javascript:teamMatchDel(${teamBoard.mmIdx})|">삭제하기</div>
                                        </th:block>
                                        <th:block th:if="${teamBoard.state == 1}">
                                            <div class="btn-appli" th:onclick="|javascript:teamMatchingCancel(${teamBoard.mmIdx})|">취소하기</div>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                            <div class="match-detail">
                                <ul>
                                    <li><span class="tit">지역</span>&#91;[[${teamBoard.location.localCity}]]&#93; [[${teamBoard.placeName}]] - [[${teamBoard.placeAddress}]]</li>
                                    <li><span class="tit">매치날짜</span>[[${#strings.substring(teamBoard.matchDateTime,0,10)}]] [[${#strings.substring(teamBoard.matchDateTime,11,16)}]]</li>
                                </ul>
                                <ul>
                                    <li><span class="tit">매치방식</span>[[${teamBoard.matchStyle}]]</li>
                                    <li><span class="tit">실력</span>[[${teamBoard.teamLevel == 'HIGH' ? '상' : teamBoard.teamLevel == 'MIDDLE' ? '중' : '하'}]]</li>
                                    <li><span class="tit">구장비</span>[[${teamBoard.expense}]]원</li>
                                </ul>
                                <div class="txt">[[${teamBoard.content}]]</div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!--<%&#45;&#45; mcBrds &#45;&#45;%>
                <div id="mcBrds" style="display:none;">
                    <c:if test="${empty mcBoards}">
                        <div style="padding:40px;text-align:center;">작성하신 글이 없습니다.</div>
                    </c:if>
                    <c:forEach items="${mcBoards}" var="mcBoards" varStatus="status">
                        <div class="match-box use-myteam">
                            <div class="tit-area">
                                <div class="tit-info">
                                    <div class="state ${mcBoards.state eq 0 and mcBoards.matchSchedule-100 ge nowDate?'recruiting':'end'}">${mcBoards.state eq 0 and mcBoards.matchSchedule-100 ge nowDate?'모집중':'모집완료'}</div>
                                    <div class="tit">
                                        <strong>${mcBoards.title}</strong>
                                        별점
                                        <c:forEach var="i" begin="1" end="${mcBoards.tmRating}">
                                            <i class="fas fa-star full-star" style="display:inline-block;margin-right:-4px;color:#aaa;"></i>
                                        </c:forEach>
                                        <c:if test="${mcBoards.tmRating%1!=0}">
                                            <i class="fas fa-star-half-alt" style="display:inline-block;margin-right:-4px;color:#aaa;"></i>
                                        </c:if>
                                        <c:forEach var="i" begin="1" end="${5-mcBoards.tmRating}">
                                            <i class="far fa-star" style="display:inline-block;margin-right:-3px;color:#aaa;"></i>
                                        </c:forEach>
                                        &nbsp;&nbsp;전적 ${mcBoards.gameCnt}전 ${mcBoards.tmWin}승  ${mcBoards.tmLose}패
                                    </div>
                                </div>
                                <div class="profile_n_appli">
                                    <div class="profile">
                                        <c:if test="${mcBoards.filePath != null}">
                                            <div class="profile-img" style="background:url('${request.contextPath}/img/team/${mcBoards.filePath}') center center;background-size:cover;"></div>
                                        </c:if>
                                        <c:if test="${mcBoards.filePath == null}">
                                            <div class="profile-img" style="background:url('${request.contextPath}/img/team/no-img.jpg') center center;background-size:cover;"></div>
                                        </c:if>
                                        <div class="profile-name" onclick="teamInfo('${mcBoards.tmCode}')">${mcBoards.tmName}<span><i class="fas fa-search"></i>정보보기</span></div>
                                    </div>
                                    <c:if test="${authentication.grade=='ME03'}">
                                        <c:if test="${mcBoards.state == 0 and mcBoards.matchSchedule ge nowDate}">
                                            <div class="btn-appli" onclick="mcMatchingModify('${mcBoards.mmIdx}')">수정하기</div>
                                            <div class="btn-appli" onclick="mcMatchingDel('${mcBoards.mmIdx}')">삭제하기</div>
                                        </c:if>
                                        <c:if test="${mcBoards.state == 1 and mcBoards.matchSchedule-400 ge nowDate}">
                                            <div class="btn-appli" style="background:#bbb;cursor:default;">수정불가</div>
                                            <div class="btn-appli" onclick="teamMatchingCancel('${mcBoards.mmIdx}')">취소하기</div>
                                        </c:if>
                                        <c:if test="${mcBoards.matchSchedule lt nowDate or (mcBoards.state == 1 and mcBoards.matchSchedule-400 lt nowDate)}">
                                            <div class="btn-appli" style="background:#bbb;cursor:default;">수정불가</div>
                                            <div class="btn-appli" style="background:#bbb;cursor:default;">취소불가</div>
                                        </c:if>
                                    </c:if>
                                </div>
                            </div>
                            <div class="match-detail">
                                <ul>
                                    <li><span class="tit">지역</span>[${mcBoards.localCode eq 'LC11'?'서울':mcBoards.localCode eq 'LC31'?'경기':mcBoards.localCode eq 'LC32'?'강원':mcBoards.localCode eq 'LC33'?'충청':mcBoards.localCode eq 'LC35'?'전라':mcBoards.localCode eq 'LC39'?'제주':'경상'}] ${mcBoards.address}
                                        <a class="view-map" onclick="window.open('https://map.kakao.com/link/search/${mcBoards.address}', 'pop01', 'top=10, left=10, width=1000, height=600, status=no, menubar=no, toolbar=no, resizable=no');">
                                            <i class="fas fa-map-marker-alt"></i> 지도보기
                                        </a>
                                    </li>
                                    <li><span class="tit">매치날짜</span>${mcBoards.matchDate} ${mcBoards.matchTime} </li>
                                </ul>
                                <ul>
                                    <li><span class="tit">매치방식</span>${mcBoards.tmMatch}:${mcBoards.tmMatch}</li>
                                    <li><span class="tit">실력</span>${mcBoards.grade eq 'high'?'상':mcBoards.grade eq 'middle'?'중':'하'}</li>
                                    <li><span class="tit">구장비</span>${mcBoards.expense}원</li>
                                    <li><span class="tit">모집인원</span>${mcBoards.matchNum}명 남음</li>
                                </ul>
                                <div class="txt">${mcBoards.content}</div>
                            </div>
                        </div>
                    </c:forEach>
                </div>
                <%&#45;&#45; appliBrds &#45;&#45;%>
                <div id="appliBrds" style="display:none;">
                    <c:if test="${empty appliBoards}">
                        <div style="padding:40px;text-align:center;">작성하신 글이 없습니다.</div>
                    </c:if>
                    <c:forEach items="${appliBoards}" var="appliBoards" varStatus="status">
                        <div class="match-box use-myteam">
                            <div class="tit-area">
                                <div class="tit-info">
                                    <div class="state ${appliBoards.state eq 0 and appliBoards.matchSchedule-100 ge nowDate?'recruiting':'end'}">${appliBoards.state eq 0 and appliBoards.matchSchedule-100 ge nowDate?'모집중':'모집완료'}</div>
                                    <div class="tit">
                                        <strong>${appliBoards.title}</strong>
                                        별점
                                        <c:forEach var="i" begin="1" end="${appliBoards.tmRating}">
                                            <i class="fas fa-star full-star" style="display:inline-block;margin-right:-4px;color:#aaa;"></i>
                                        </c:forEach>
                                        <c:if test="${appliBoards.tmRating%1!=0}">
                                            <i class="fas fa-star-half-alt" style="display:inline-block;margin-right:-4px;color:#aaa;"></i>
                                        </c:if>
                                        <c:forEach var="i" begin="1" end="${5-appliBoards.tmRating}">
                                            <i class="far fa-star" style="display:inline-block;margin-right:-3px;color:#aaa;"></i>
                                        </c:forEach>
                                        &nbsp;&nbsp;전적 ${appliBoards.gameCnt}전 ${appliBoards.tmWin}승  ${appliBoards.tmLose}패
                                    </div>
                                </div>
                                <div class="profile_n_appli">
                                    <div class="profile">
                                        <c:if test="${appliBoards.filePath != null}">
                                            <div class="profile-img" style="background:url('${request.contextPath}/img/team/${appliBoards.filePath}') center center;background-size:cover;"></div>
                                        </c:if>
                                        <c:if test="${appliBoards.filePath == null}">
                                            <div class="profile-img" style="background:url('${request.contextPath}/img/team/no-img.jpg') center center;background-size:cover;"></div>
                                        </c:if>
                                        <div class="profile-name" onclick="teamInfo('${appliBoards.tmCode}')">${appliBoards.tmName}<span><i class="fas fa-search"></i>정보보기</span></div>
                                    </div>
                                    <c:if test="${authentication.grade=='ME03'}">
                                        <c:if test="${appliBoards.matchSchedule-400 ge nowDate}">
                                            <div class="btn-appli" onclick="teamMatchingCancel('${appliBoards.mmIdx}','${appliBoards.tmCode}','${team.tmCode}')">취소하기</div>
                                        </c:if>
                                        <c:if test="${appliBoards.matchSchedule-400 lt nowDate}">
                                            <div class="btn-appli" style="background:#bbb;cursor:default;">취소불가</div>
                                        </c:if>
                                    </c:if>
                                </div>
                            </div>
                            <div class="match-detail">
                                <ul>
                                    <li><span class="tit">지역</span>[${appliBoards.localCode eq 'LC11'?'서울':appliBoards.localCode eq 'LC31'?'경기':appliBoards.localCode eq 'LC32'?'강원':appliBoards.localCode eq 'LC33'?'충청':appliBoards.localCode eq 'LC35'?'전라':appliBoards.localCode eq 'LC39'?'제주':'경상'}] ${appliBoards.address}
                                        <a class="view-map" onclick="window.open('https://map.kakao.com/link/search/${appliBoards.address}', 'pop01', 'top=10, left=10, width=1000, height=600, status=no, menubar=no, toolbar=no, resizable=no');">
                                            <i class="fas fa-map-marker-alt"></i> 지도보기
                                        </a>
                                    </li>
                                    <li><span class="tit">매치날짜</span>${appliBoards.matchDate} ${appliBoards.matchTime} </li>
                                </ul>
                                <ul>
                                    <li><span class="tit">매치방식</span>${appliBoards.tmMatch}:${appliBoards.tmMatch}</li>
                                    <li><span class="tit">실력</span>${appliBoards.grade eq 'high'?'상':appliBoards.grade eq 'middle'?'중':'하'}</li>
                                    <li><span class="tit">구장비</span>${appliBoards.expense}원</li>
                                </ul>
                                <div class="txt">${appliBoards.content}</div>
                            </div>
                        </div>
                    </c:forEach>-->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pop-msg-wrap msg">
    <div class="pop-msg">
        <p></p>
        <button onclick="btnClose();">확인</button>
    </div>
</div>
<div class="pop-msg-wrap question">
    <div class="pop-msg">
        <p></p>
        <button class="cancel-btn" onclick="btnClose();">취소</button>
        <button class="submit-btn" onclick=""></button>
    </div>
</div>
<div class="pop-msg-wrap answer">
    <div class="pop-msg">
        <p></p>
        <button class="close-btn">확인</button>
    </div>
</div>
<script type="text/javascript" src="/js/team/common.js"></script>
<footer th:replace = " fragments/footer :: footer"></footer>
</body>
</html>