<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head">
</head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/team/team.css" />
    <link rel="stylesheet" type="text/css" href="/css/team/team-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="section">
        <div class="myteam-wrap">
            <h2><i class="far fa-futbol"></i> 나의 팀 생성</h2>
            <div class="myteam-con">
                <form id="frm_create-team" action="/team/create" method="post" enctype="multipart/form-data">
                    <table class="team-create-form">
                        <tr>
                            <th>팀 이름</th>
                            <td>
                                <input type="text" name="tmName" id="tmName" size="8" placeholder="팀 이름을 입력하세요." required />
                                <button type="button" id="tmNameCheck">중복확인</button>
                                <span class="msg">2~8자리 한/영/숫자만 입력</span>
                            </td>
                        </tr>
                        <tr>
                            <th>팀 사진</th>
                            <td>
                                <input type="file" name="teamFile" id="teamFile" accept="image/*" onchange="fileCheck(this.files)">
                                <span class="msg">JPG/GIF/PNG 파일만 업로드 가능</span>
                            </td>
                        </tr>
                        <tr>
                            <th>실력</th>
                            <td>
                                <label><input type="radio" name="tmGrade" value="HIGH" required /> 상</label>
                                <label><input type="radio" name="tmGrade" value="MIDDLE" /> 중</label>
                                <label><input type="radio" name="tmGrade" value="LOW" /> 하</label>
                            </td>
                        </tr>
                        <tr>
                            <th>활동지역</th>
                            <td>
                                <label><input type="radio" name="localCode" value="LC11" required /> 서울</label>
                                <label><input type="radio" name="localCode" value="LC31" /> 경기</label>
                                <label><input type="radio" name="localCode" value="LC32" /> 강원</label>
                                <label><input type="radio" name="localCode" value="LC33" /> 충청</label>
                                <label><input type="radio" name="localCode" value="LC35" /> 전라</label>
                                <label><input type="radio" name="localCode" value="LC39" /> 제주</label>
                                <label><input type="radio" name="localCode" value="LC37" /> 경상</label>
                            </td>
                        </tr>
                        <tr>
                            <th>소개글</th>
                            <td>
                                <textarea name="tmInfo" maxlength="200" wrap="hard" placeholder="팀 소개 내용을 입력해주세요. (200자 이내)"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="btn-team-create">
                                    <input type="submit" value="팀 생성하기" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="pop-msg-wrap msg">
    <div class="pop-msg">
        <p></p>
        <button onclick="btnClose();">확인</button>
    </div>
</div>

<div class="pop-msg-wrap question">
    <div class="pop-msg">
        <p></p>
        <button class="cancel-btn" onclick="btnClose();">취소</button>
        <button class="submit-btn" onclick=""></button>
    </div>
</div>

<div class="pop-msg-wrap answer">
    <div class="pop-msg">
        <p></p>
        <button class="close-btn">확인</button>
    </div>
</div>

<div class="pop-msg-wrap" style="display:flex;">
    <div class="pop-msg">
        <p>
            <i class="fas fa-check-circle"></i><br>
            <c:if test="${param.result==1}">팀 가입이 성공적으로 완료되었습니다.<br>${team.tmName} 팀의 팀원이 되신 것을 축하드립니다!</c:if>
            <c:if test="${param.result==2}">팀이 성공적으로 생성되었습니다.<br>${team.tmName} 팀에서 많은 활동 부탁드릴게요!</c:if>
            <c:if test="${param.result==3}">변경이 완료되었습니다.</c:if>
        </p>
        <button onclick="btnClose();">확인</button>
    </div>
</div>
<footer th:replace = " fragments/footer :: footer"></footer>
<script type="text/javascript" src="/js/team/createForm.js"></script>
</body>
</html>