<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/team/team.css" />
    <link rel="stylesheet" type="text/css" href="/css/team/team-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="section">
        <div class="myteam-wrap">
            <h2><i class="far fa-futbol"></i> 나의 팀</h2>
            <div class="myteam-con">
                <div th:replace = " team/include/tab :: team-tab"></div>
                <div th:if="${team.file == null}" style="background:url('/img/team/no-img.jpg') center center; background-size: cover;" class="team-img bg-img"></div>
                <div th:if="${team.file != null}" style="background:url('|/file/{savePath}{renameFileName}(savePath=${team.file.savePath}, renameFileName=${team.file.renameFileName})|') center center; background-size: cover;" class="team-img bg-img"></div>
                <form id="frm_create-team" th:action="@{/team/modify}" method="post" enctype="multipart/form-data">
                    <table class="team-create-form">
                        <tr>
                            <th>팀 이름</th>
                            <td th:text="${team.tmName}"></td>
                        </tr>
                        <tr>
                            <th>팀 사진</th>
                            <td>
                                <input type="file" name="teamFile" id="teamFile" onchange="fileCheck(this.files)">
                                <span class="msg">JPG/GIF/PNG 파일만 업로드 가능</span>
                                <div class="team-file leader">
                                    <a class="view-file" target="_blank" th:href="@{/file/{savePath}{renameFileName}(savePath=${team.file.savePath}, renameFileName=${team.file.renameFileName})}">
                                        <i class="fas fa-eye"></i> 현재 팀 이미지 :  [[${team.file.originFileName}]]
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr><th>팀 전적</th><td>${team.gameCnt}전 ${team.tmWin}승 ${team.tmLose}패</td></tr>
                        <tr><th>팀 평점</th><td>${team.tmRating}점</td></tr>
                        <tr>
                            <th>실력</th>
                            <td>
                                <label><input type="radio" name="tmGrade" value="HIGH" th:checked="${team.tmGrade eq 'HIGH' ? 'true' : 'false'}"  /> 상</label>
                                <label><input type="radio" name="tmGrade" value="MIDDLE" th:checked="${team.tmGrade eq 'MIDDLE' ? 'true' : 'false'}" /> 중</label>
                                <label><input type="radio" name="tmGrade" value="LOW" th:checked="${team.tmGrade eq 'LOW' ? 'true' : 'false'}" /> 하</label>
                            </td>
                        </tr>
                        <tr>
                            <th>활동지역</th>
                            <td>
                                <label th:each="location : ${locations}">
                                    <input type="radio" name="localCode" th:value="${location.localCode}" th:checked="${location.localCode eq team.location.localCode ? 'true' : 'false'}"/> [[${location.localCity}]]
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>소개글</th>
                            <td>
                                <textarea name="tmInfo" placeholder="팀 소개 내용을 입력해주세요.">[[${team.tmInfo}]]</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="btn-team-create">
                                    <input type="submit" value="팀 변경하기" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="pop-msg-wrap msg">
    <div class="pop-msg">
        <p></p>
        <button onclick="btnClose();">확인</button>
    </div>
</div>
<div class="pop-msg-wrap question">
    <div class="pop-msg">
        <p></p>
        <button class="cancel-btn" onclick="btnClose();">취소</button>
        <button class="submit-btn" onclick=""></button>
    </div>
</div>
<div class="pop-msg-wrap answer">
    <div class="pop-msg">
        <p></p>
        <button class="close-btn">확인</button>
    </div>
</div>
<script type="text/javascript" src="/js/team/modify.js"></script>
<script type="text/javascript" src="/js/team/common.js"></script>
<footer th:replace = " fragments/footer :: footer"></footer>
</body>
</html>