<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/team/team.css" />
    <link rel="stylesheet" type="text/css" href="/css/team/team-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="section">
        <div class="myteam-wrap">
            <h2><i class="far fa-futbol"></i> 나의 팀</h2>
            <div class="myteam-con">
                <div th:replace = " team/include/tab :: team-tab"></div>
                <div class="rating_area">
                    <p><strong th:text="${team.tmName}"></strong><br>전적 0전 0승 0패 <span style="color:#ddd;"> ㅣ </span> 평균 평점 0/5점</p>
                    <div class="our_rating star">
                        <c:forEach var="i" begin="1" end="${team.tmRating}">
                            <i class="fas fa-star full-star"></i>
                        </c:forEach>
                        <c:if test="${team.tmRating%1!=0}">
                            <i class="fas fa-star-half-alt"></i>
                        </c:if>
                        <c:forEach var="i" begin="1" end="${5-team.tmRating}">
                            <i class="far fa-star star"></i>
                        </c:forEach>
                    </div>
                </div>
                <table class="team-member-form">
                    <tr>
                        <th>경기일자</th>
                        <th>상대팀</th>
                        <th>경기 결과</th>
                        <th>상대팀 평가</th>
                        <tr th:if="${matchGameList == null}">
                            <td colspan="5"><br>진행중인 매치가 없습니다.<br><br></td>
                        </tr>
                        <tr th:if="${matchGameList != null}" th:each="matchGame : ${matchGameList}">
                            <td>[[${#strings.substring(matchGame.matchMaster.matchDateTime,0,10)}]]<br>[[${#strings.substring(matchGame.matchMaster.matchDateTime,11,16)}]]</td>
                            <td>[[${matchGame.homeTeam.tmName}]] vs [[${matchGame.awayTeam.tmName}]]</td>
                            <td>
                                <th:block th:if="${#authentication.principal.grade.toString().equals('ME03')}">
                                    <div class="selectbox">
                                        <select>
                                            <option value="" disabled selected>= 결과 =</option>
                                            <option value="1">승</option>
                                            <option value="2">패</option>
                                        </select>
                                    </div>
                                    <button class="btn-change-grade" onclick="updateWinner(this, '${results.mgIdx}', '${results.hostCode}', '${results.rivalCode}', '${team.tmCode}');">저장</button>
                                </th:block>
                                <th:block th:unless="${#authentication.principal.grade.toString().equals('ME03')}">
                                    <span class="result-column">경기예정</span>
                                </th:block>

                            </td>
                            <td class="star">
                                <c:if test="${authentication.grade=='ME03'}">
                                    <c:if test="${(results.rivalRating==0 and results.hostName eq team.tmName) or (results.hostRating==0 and results.rivalName eq team.tmName)}">
                                        <c:if test="${results.matchSchedule lt nowDate}">
                                            <div class="selectbox">
                                                <select name="${results.hostName eq team.tmName?'rivalRating':'hostRating'}">
                                                    <option value="" disabled selected>= 평가 =</option>
                                                    <option value="5">5</option>
                                                    <option value="4">4</option>
                                                    <option value="3">3</option>
                                                    <option value="2">2</option>
                                                    <option value="1">1</option>
                                                </select>
                                            </div>
                                            <button class="btn-change-grade" onclick="updateRslt(this, '${results.mgIdx}', '${results.hostCode}', '${results.rivalCode}', '${team.tmCode}');">저장</button>
                                        </c:if>
                                        <c:if test="${results.matchSchedule ge nowDate}">
                                            경기예정
                                        </c:if>
                                    </c:if>
                                </c:if>
                                <c:if test="${results.rivalRating!=0 and results.hostName eq team.tmName}">
                                    <c:forEach var="i" begin="1" end="${results.rivalRating}">
                                        <i class="fas fa-star full-star"></i>
                                    </c:forEach>
                                    <c:forEach var="i" begin="1" end="${5-results.rivalRating}">
                                        <i class="far fa-star"></i>
                                    </c:forEach>
                                </c:if>
                                <c:if test="${results.hostRating!=0 and results.rivalName eq team.tmName}">
                                    <c:forEach var="i" begin="1" end="${results.hostRating}">
                                        <i class="fas fa-star full-star"></i>
                                    </c:forEach>
                                    <c:forEach var="i" begin="1" end="${5-results.hostRating}">
                                        <i class="far fa-star"></i>
                                    </c:forEach>
                                </c:if>
                                <c:if test="${authentication.grade!='ME03'}">
                                    <c:if test="${results.rivalRating==0 and results.hostName eq team.tmName}">미등록</c:if>
                                    <c:if test="${results.hostRating==0 and results.rivalName eq team.tmName}">미등록</c:if>
                                </c:if>
                            </td>

                        </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="pop-msg-wrap msg">
    <div class="pop-msg">
        <p></p>
        <button onclick="btnClose();">확인</button>
    </div>
</div>
<div class="pop-msg-wrap question">
    <div class="pop-msg">
        <p></p>
        <button class="cancel-btn" onclick="btnClose();">취소</button>
        <button class="submit-btn" onclick=""></button>
    </div>
</div>
<div class="pop-msg-wrap answer">
    <div class="pop-msg">
        <p></p>
        <button class="close-btn">확인</button>
    </div>
</div>
<script type="text/javascript" src="/js/team/common.js"></script>
<footer th:replace = " fragments/footer :: footer"></footer>
</body>
</html>