<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head">
</head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="mypage-wrap">
        <h2><i class="fas fa-user-cog"></i> 마이페이지</h2>
        <div class="mypage-con">
           <!-- <%@ include file="/WEB-INF/views/mypage/mypage_tab.jsp" %>-->
            <table class="mypage-notice-form">
                <tr>
                    <th>문의유형</th>
                    <th>상태</th>
                    <th style="width:50%">제목</th>
                    <th>날짜</th>
                </tr>
                <tr th:each="inquiry : ${inquiryList}">
                    <td>[[${inquiry.type}]]</td>
                    <td>
                        <span th:value="${inquiry.answerYn == 'Y'}? '답변완료':'답변대기'" ></span>
                    </td>
                    <td style="text-align:left;">
                        <a th:href = "|/inquiry/inquiry-detail(iqIdx=${inquiry.iqIdx})|">[[${inquiry.title}]]</a>
                    </td>
                    <td>[[${inquiry.regDate}]]</td>
                </tr>
            </table>
           <!-- <div th:replace="fragments/paging :: paging"></div>-->
        </div>
    </div>
</section>
<footer th:replace = " fragments/footer :: footer"></footer>
</body>
</html>