<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/head :: head">
</head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" type="text/css" href="/css/mypage/mypage-form.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="mypage-wrap">
        <h2><i class="fas fa-user-cog"></i> 마이페이지</h2>
        <div class="mypage-con">
           <!-- <%@ include file="/WEB-INF/views/mypage/mypage_tab.jsp" %>-->
            <table class="mypage-notice-form">
                <tr>
                    <th>문의유형</th>
                    <th>상태</th>
                    <th style="width:50%">제목</th>
                    <th>날짜</th>
                    <th>관리</th>
                </tr>
                <tr>
                    <td>불편사항</td>
                    <td>
                        <span>답변대기</span>
                    </td>
                    <td>
                        <span>작성자</span>
                    </td>
                    <td style="text-align:left;">
                        <a href="">제목</a>
                    </td>
                    <td>2021-12-29</td>
                    <td class="btn-inq">
                        <button class="modify" >수정</button>
                        <button class="delete">삭제</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
<footer th:replace = " fragments/footer :: footer"></footer>
</body>
</html>