<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace = "fragments/head :: head">
</head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/matching/matching-team.css" />
</head>
<body>
<header th:replace = " fragments/header :: header"></header>
<section>
    <div class="section">
        <div class="new-match-wrap">
            <div class="sub-nav-wrap">
                <div class="sub-nav">
                    <a href="/match/team-list">팀매칭</a>
                    <a href="/match/mercenary-list">용병매칭</a>
                </div>
            </div>
            <div class="search-wrap">
                <form onsubmit="return formCheck()" action="/matching/team/team-match-search" method="post">
                    <dl>
                        <dt>경기지역</dt>
                        <dd class="local">
                            <label th:each="location : ${locations}">
                                <input type="radio" name="localCode" th:value="${location.localCode}" required /> [[${location.localCity}]]
                            </label>
                        </dd>
                    </dl>
                    <dl>
                        <dt>기간</dt>
                        <dd>
                            <input type="date" name="date" id="currentDate">
                        </dd>
                    </dl>
                    <dl>
                        <dt>상대팀 실력</dt>
                        <dd class="level-dd">
                            <label><input type="radio" name="level" value="HIGH">상</label>
                            <label><input type="radio" name="level" value="MIDDLE">중</label>
                            <label><input type="radio" name="level" value="LOW">하</label>
                        </dd>
                    </dl>
                    <input type="submit" value="검색">

                </form>
            </div>
            <!-- End search wrap -->
            <div class="search-role-wrap">
                <div class="search-role">
                    <a href="/match/team/recent?match=team">최신순</a> <a href="/match/team/rating?match=team">별점순</a>
                </div>
                <div class="matching-write">
                    <a href="team-match-form"><i class="fas fa-pencil-alt"></i>글쓰기</a>
                </div>
            </div>
                <div th:each="matchBoard : ${matchBoardList}" class="match-box">
                    <div class="tit-area">
                        <div class="tit-info">
                            <div class="state recruiting">모집중</div>
                            <div class="tit">
                                <strong th:text="${matchBoard.title}"></strong>
                                <div>
                                    <c:forEach var="i" begin="1" end="${matchBox.getTmRating()}">
                                        <div style="float: left;"><i class="fas fa-star full-star"></i></div>
                                    </c:forEach>
                                    <c:if test="${matchBox.getTmRating()%1!=0}">
                                        <div style="float: left;"><i class="fas fa-star-half-alt"></i></div>
                                    </c:if>
                                    <c:forEach var="i" begin="1" end="${5-matchBox.getTmRating()}">
                                        <div style="float: left;"><i class="far fa-star star"></i></div>
                                    </c:forEach>
                                </div>
                                <c:set var="lose" value="${matchBox.getGameCnt() - matchBox.getTmWin()}"></c:set>
                                &nbsp;&nbsp;전적 0전 0승 0패
                            </div>
                        </div>
                        <div class="profile_n_appli">
                            <div class="profile">
                                <div class="profile-img"></div>
                                <div class="profile-name">
                                    [[${matchBoard.team.tmName}]]
                                    <span>
										<i class="fas fa-search"></i>정보보기
									</span>
                                </div>
                            </div>
                            <div th:if="${matchBoard.state eq 0}" class="btn-appli" th:onclick="|javascript:teamMatchRequset(${matchBoard.mmIdx})|">신청하기</div>
                        </div>
                    </div>
                    <div class="match-detail">
                        <ul>
                            <li>
                                <span class="tit">지역</span>&#91;[[${matchBoard.location.localCity}]]&#93; [[${matchBoard.placeName}]] - [[${matchBoard.placeAddress}]]
                            </li>
                            <li><span class="tit">매치일시</span>[[${#strings.substring(matchBoard.matchDateTime,0,10)}]] [[${#strings.substring(matchBoard.matchDateTime,11,16)}]]</li>
                        </ul>
                        <ul>
                            <li><span class="tit">매치방식</span>[[${matchBoard.matchStyle}]]</li>
                            <li><span class="tit">실력</span> [[${matchBoard.teamLevel == 'HIGH' ? '상' : matchBoard.teamLevel == 'MIDDLE' ? '중' : '하'}]]</li>
                            <li><span class="tit">구장비</span>[[${matchBoard.expense}]]원</li>
                        </ul>
                        <div class="txt">[[${matchBoard.content}]]</div>
                    </div>
                </div>
                <!-- End 매치 박스 -->
        </div>
    </div>
</section>
<div class="pop-msg-wrap msg">
    <div class="pop-msg">
        <p></p>
        <button onclick="btnClose();">확인</button>
    </div>
</div>
<footer th:replace = " fragments/footer :: footer"></footer>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/match/match.js"></script>
</body>
</html>